@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url("../src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  }
  
  * {
    font-family: "Montserrat", sans-serif, Arial;
  }

  /* Forçar ocultação da barra de rolagem */
  * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  
  *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  
  
  
  .font {
    font-family: "Montserrat", sans-serif, Arial !important
  }