@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url("../src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  }
  
  * {
    font-family: "Montserrat", sans-serif, Arial;
  }


  
  .font {
    font-family: "Montserrat", sans-serif, Arial !important
  }

  /* Personalização da barra de rolagem */
  /* Para navegadores WebKit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  /* Para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
  }